@use "../../styles/global.scss" as *;
@use "../../styles/partials/typography.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.contact {
  background: url("../../assets/foodDisplay.jpg") no-repeat center / cover;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
  }

  &__heading {
    font-size: 3rem;
    font-family: "montserrat";
    color: #fff;
    z-index: 10;
    opacity: 0;
    animation: 1s resfadein 1s ease-in forwards;

    @keyframes resfadein {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}

.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  font-family: "montserrat";
  scroll-margin: 225px;

  &__left {
    display: flex;
    flex-direction: column;
  }

  &__address {
    border-bottom: 1px solid #000;
    padding-bottom: 1rem;
    font-size: 1.5rem;
  }

  &__street,
  &__city,
  &__phone {
    padding: 0.25rem 0;
  }

  &__biz-hrs {
    padding: 2rem 0 1rem 0;
  }

  &__biz-heading {
    padding-bottom: 1rem;
  }

  &__line1,
  &__line2,
  &__line3 {
    padding: 0.25rem 0;
  }

  &__email-heading {
    padding: 1rem 0;
  }

  &__email-link a {
    color: #000;
  }

  &__right {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    margin-top: 1rem;
  }
}

@include tablet {
  .contact {
    background: url("../../assets/foodDisplay.jpg") no-repeat center / cover;
    height: 100vh;

    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      background: rgba(0, 0, 0, 0.8);
      width: 100%;
      height: 100%;
    }

    &__heading {
      font-size: 6rem;
      font-family: "montserrat";
      color: #fff;
      z-index: 10;
      opacity: 0;
      animation: 1s resfadein 1s ease-in forwards;

      @keyframes resfadein {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
  }

  .contact-us {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 4rem 0 4rem 4rem;
    font-family: "montserrat";
    scroll-margin: 225px;

    &__left {
      display: flex;
      flex-direction: column;
    }

    &__address {
      border-bottom: 1px solid #000;
      padding-bottom: 1rem;
      font-size: 1.5rem;
    }

    &__street,
    &__city,
    &__phone {
      padding: 0.25rem 0;
    }

    &__biz-hrs {
      padding: 2rem 0 1rem 0;
    }

    &__biz-heading {
      padding-bottom: 1rem;
    }

    &__line1,
    &__line2,
    &__line3 {
      padding: 0.25rem 0;
    }

    &__email-heading {
      padding: 1rem 0;
    }

    &__email-link a {
      color: #000;
    }

    &__right {
      width: 40%;
      // height: 100%;
    }
  }
}
