@use "../../styles/global.scss" as *;
@use "../../styles/partials/typography.scss" as *;
@use "../../styles/partials/mixins" as *;

.navigation {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #fff;
  z-index: 55;
  font-size: 1.25rem;
  background: none;
  font-family: "montserrat";
  height: 6.25rem;
  transition: 0.5s ease-out;

  &--scrollActive {
    background: #000;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #fff;
    z-index: 55;
    font-size: 1.25rem;
    transition: 0.5s ease-in;
    font-family: "montserrat";
    height: 6.25rem;
    opacity: 0.9;
  }

  &__logo {
    font-family: "Herr Von Muellerhoff";
    opacity: 0;
    font-size: 3rem;
    letter-spacing: 8px;
    font-weight: 500;
    z-index: 55;
    // font-weight: 600;
    animation: 1s fadein 1s forwards;

    @keyframes fadein {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  &__mob-menu {
    margin-top: 1.5rem;
    height: 50px;
    width: 50px;
    opacity: 0;
    z-index: 55;
    animation: 1s fadein 1s forwards;

    @keyframes fadein {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    &-line1,
    &-line2,
    &-line3 {
      border: 1px solid #fff;
      background: #fff;
    }
    &-line2 {
      margin: 0.5rem 0;
    }
  }

  &__list {
    display: none;
  }

  &__facebook,
  &__instagram,
  &__twitter {
    filter: invert(100%) sepia(5%) saturate(1431%) hue-rotate(221deg)
      brightness(116%) contrast(100%);
    width: 1.25rem;
    margin: 0 0.5rem;
    animation: 1s fadein 1s forwards;
    opacity: 0;
    z-index: 12;

    @keyframes fadein {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}

@include tablet {
  .navigation {
    padding: 2.18rem 2rem 2.18rem 2rem;
    color: #fff;
    z-index: 2;
    font-size: 1.25rem;
    height: 10rem;

    &--scrollActive {
      padding: 2.18rem 2rem;
      font-size: 1.25rem;
      height: 10rem;
    }

    &__logo {
      font-size: 4rem;
    }

    &__mob-menu {
      display: none;
    }

    &__list {
      display: flex;
      list-style: none;
      // font-size: 1rem;
      color: #fff;
      opacity: 0;
      animation: 1s fadein 1s forwards;

      @keyframes fadein {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }

    &__list-item {
      color: #fff;
      padding: 0 0.5rem;

      &--divider {
        margin: 0 1rem;
      }
    }

    &__list-item-link {
      padding: 0.31rem;
      color: #fff;

      &:hover {
        border-bottom: 1px solid #dddddd;
      }
    }

    &__facebook,
    &__instagram,
    &__twitter {
      filter: invert(100%) sepia(5%) saturate(1431%) hue-rotate(221deg)
        brightness(116%) contrast(100%);
      width: 1.25rem;
      margin: 0 0.5rem;
      animation: 1s fadein 1s forwards;
      opacity: 0;
      z-index: 12;

      @keyframes fadein {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
  }
}

@include desktop {
  .navigation {
    padding: 2.18rem 6.25rem;
    font-size: 1.75rem;

    &--scrollActive {
      padding: 2.18rem 6.25rem;
      font-size: 1.75rem;
      transition: 0.5s ease-in;
      font-family: "montserrat";
      height: 160px;
      opacity: 0.9;
    }

    &__facebook,
    &__instagram,
    &__twitter {
      filter: invert(100%) sepia(5%) saturate(1431%) hue-rotate(221deg)
        brightness(116%) contrast(100%);
      width: 28px;
      margin: 0 0.5rem;
      animation: 1s fadein 1s forwards;
      opacity: 0;
      z-index: 12;

      @keyframes fadein {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
  }
}
