@use "../../styles/global.scss" as *;
@use "../../styles/partials/typography.scss" as *;

.navigation {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 100px;
  color: #fff;
  z-index: 2;
  font-size: 20px;
  background: none;
  font-family: "montserrat";
  transition: 0.5s ease-out;

  &--scrollActive {
    background: #000;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px;
    color: #fff;
    z-index: 50;
    font-size: 20px;
    transition: 0.5s ease-in;
    font-family: "montserrat";
    height: 160px;
    opacity: 0.9;
  }

  &__logo {
    font-family: "Herr Von Muellerhoff";
    opacity: 0;
    font-size: 4rem;
    letter-spacing: 8px;
    font-weight: 500;
    // font-weight: 600;
    animation: 1s fadein 1s forwards;

    @keyframes fadein {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  &__list {
    display: flex;
    list-style: none;
    font-size: 1.5rem;
    color: #fff;
    opacity: 0;
    animation: 1s fadein 1s forwards;

    @keyframes fadein {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  &__list-item {
    color: #fff;

    &--divider {
      margin: 0 1rem;
    }
  }

  &__list-item-link {
    padding: 0.31rem;
    color: #fff;

    &:hover {
      border-bottom: 1px solid #dddddd;
    }
  }

  &__facebook,
  &__instagram,
  &__twitter {
    filter: invert(100%) sepia(5%) saturate(1431%) hue-rotate(221deg)
      brightness(116%) contrast(100%);
    width: 25px;
    margin: 0 0.5rem;
    animation: 1s fadein 1s forwards;
    opacity: 0;
    z-index: 12;

    @keyframes fadein {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}

// ul,
// nav {
//   list-style: none;
//   font-size: 24px;
// }

// nav a {
//   padding: 5px;
// }
// nav a:hover {
//   border-bottom: 1px solid #dddddd;
// }

// a {
//   text-decoration: none;
//   color: #fff;
// }

// a:hover {
//   color: #dddddd;
// }

// .background-image {
//   width: 100%;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
// }

// section h3.title {
//   text-transform: capitalize;
//   font: bold 32px "Open Sans", sans-serif;
//   margin-bottom: 30px;
//   text-align: center;
// }

/*Header Styles*/

// header {
//   position: sticky;
//   width: 100%;
//   display: flex;
//   justify-content: flex-end;
//   align-items: center;
//   padding: 35px 100px;
//   color: #fff;
//   z-index: 2;
//   font-size: 20px;
//   background: #000;
// }

// header nav {
//   opacity: 0;
//   animation: 1s fadein 1s forwards;
// }
