@use "../../styles/global.scss" as *;
@use "../../styles/partials/typography.scss" as *;

.reservation-page__header {
  background: url("../../assets/pexels-daria-6536617.jpg") no-repeat center /
    cover;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
  }
}

.res-page-heading {
  font-size: 6rem;
  font-family: "montserrat";
  color: #fff;
  z-index: 10;
  opacity: 0;
  animation: 1s resfadein 1s ease-in forwards;

  @keyframes resfadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.reservationPage {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  margin-top: 4rem;
  scroll-margin: 225px;

  &--animate {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    margin-top: 4rem;
    scroll-margin: 225px;
    animation: 1s ResPageSlide 1s forwards;
    @keyframes ResPageSlide {
      0% {
        margin-top: 4rem;
      }
      100% {
        margin-top: 0;
      }
    }
  }

  &__res-title {
    font-size: 50px;
    text-align: center;
    width: 50%;
    font-family: "quicksand";
  }

  &__res-form {
    width: 60%;
    margin: 1.25rem 18.75rem 1.25rem 4.375rem;
  }

  &__res-form input {
    padding: 5px;
    background: #fafafa;
    border: 1px solid #ccc;

    &:focus {
      background: #fff;
    }
  }

  &__formLabels {
    font-size: 18px;
    font-family: "quicksand";
    padding: 10px;
  }
}

// DELETE LATER

.firstLastContainer {
  display: flex;
}
.firstLastContainer .first {
  width: 50%;
}
.firstLastContainer .first input {
  width: 100%;
  margin-right: 0.5%;
}
.firstLastContainer .last {
  width: 50%;
}
.firstLastContainer .last input {
  width: 100%;
  margin-left: 0.5%;
}

#reservationForm {
  width: 60%;
  margin: 1.25rem 18.75rem 1.25rem 4.375rem;
}
#reservationForm input {
  padding: 10px;
  background: #fafafa;
  border: 1px solid #ccc;
}

#reservationForm div {
  margin: 20px 0;
}

#reservationForm input:focus {
  background: #fff;
}
.formLabels {
  font-size: 18px;
  font-family: "quicksand";
}

.maxLength input {
  width: 100%;
}
#hidden {
  visibility: hidden;
}
form p {
  font-size: 12px;
}

#reservationTitle {
  font-size: 3.125rem;
  width: 40%;
  padding-top: 60px;
  padding-left: 50px;
  font-family: "montserrat";
  margin-top: -20rem;
}
#reservSubText {
  width: 60%;
}
#reservationTitle #reservSubText p {
  font-size: 1rem;
  padding-top: 10px;
}

#submit input {
  padding: 10px 20px;
  background: #fff;
  border: 2px solid black;
  border-radius: 3px;
  font-size: 1.1rem;
}
#submit input:hover {
  background: black;
  color: #fff;
  font-weight: normal;
  transition: 0.15s ease-in;
}
