@use "../../styles/global.scss" as *;
@use "../../styles/partials/typography.scss" as *;
@use "../../styles/partials/mixins" as *;

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "montserrat";
  font-size: 1rem;
  line-height: 2rem;
  width: 100%;
  padding: 0 2rem;
  margin: 2rem 0;
  scroll-margin: 130px;

  &__text {
    width: 100%;
  }

  &__welcome {
    font-size: 3rem;
    padding-bottom: 1rem;
  }

  &__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
    transition: 1s ease-in;

    &--blurred {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      filter: blur(10px);
    }
  }

  &__img-back-layer {
    width: 100%;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.66) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  &__img-top-layer {
    width: 100%;

    box-shadow: rgba(0, 0, 0, 0.66) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
}

@include tablet {
  .intro {
    flex-direction: row;
    justify-content: space-between;
    margin: 60px 0;

    &__img-back-layer,
    &__img-top-layer {
      width: 350px;
    }
    &__text {
      width: 60%;
      font-size: 1.5rem;
    }

    &__img {
      position: relative;
      width: 40%;
      padding-left: 2.5rem;
      transition: 1.5s ease-out;

      &--blurred {
        position: relative;
        width: 40%;
        padding-left: 2.5rem;
        filter: blur(10px);
      }
    }
  }
}

@include desktop {
  .intro {
    font-size: 1.56rem;
    padding: 0 6.25rem;
    margin: 60px 0;
    scroll-margin: 220px;

    &__img {
      height: 400px;
    }

    &__img-back-layer {
      position: absolute;
      top: 0%;
      left: 5%;
      z-index: 0;
      width: 350px;
    }
    &__img-top-layer {
      width: 350px;
      z-index: 1;
      position: absolute;
      top: 40%;
      left: 36%;
    }
  }
}
