@use "../../styles/global.scss" as *;
@use "../../styles/partials/typography.scss" as *;

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #171717;
  padding: 100px 0;
  color: #fff;
  margin-top: 5rem;

  &__title {
    font-family: "herr von muellerhoff";
    font-size: 6rem;
    font-weight: 300;
    letter-spacing: 10px;
  }
}
