@use "../../styles/global.scss" as *;
@use "../../styles/partials/typography.scss" as *;

.menu {
  display: flex;
  scroll-margin: 160px;

  &__cont {
    display: flex;
    width: 50%;
    margin: 4rem;
  }

  &__item {
    padding: 1rem 0;
    min-height: 7rem;
  }

  &__right {
    padding-left: 2rem;
  }

  &__art {
    width: 50%;
    position: relative;
  }

  &__art-pic1 {
    position: absolute;
    top: 10%;
    left: 10%;
    height: 600px;
  }

  &__art-pic2 {
    position: absolute;
    top: 50%;
    left: 40%;
    width: 500px;
    z-index: 2;
  }
}
