@use "../../styles/global.scss" as *;
@use "../../styles/partials/typography.scss" as *;

.menu {
  display: flex;
  justify-content: center;
  scroll-margin: 160px;

  &__cont {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 6rem;
  }

  &__item {
    padding: 1rem 0;
    min-height: 7rem;
  }

  &__right {
    padding-left: 2rem;
  }

  &__art {
    width: 50%;
    position: relative;
    transition: 1s ease-out;

    &--blurred {
      width: 50%;
      position: relative;
      filter: blur(10px);
      transition: 1.5s ease-out;
    }
  }

  &__art-pic1 {
    position: absolute;
    top: 10%;
    left: 5%;
    height: 550px;
  }

  &__art-pic2 {
    position: absolute;
    top: 50%;
    left: 35%;
    width: 450px;
    z-index: 2;
  }
}
